body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #101049;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#flipButton {
    position: fixed;
    bottom: 30%; 
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loading img {
    width: 200px; /* Регулируйте размер под ваш GIF */
}

#photoContainer {
    display: none;
    width: 200px; /* Или другой размер по желанию */
    height: 200px; /* Или другой размер по желанию */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#photoContainer {
    background-size: cover;
}

